@{
    ViewBag.Title = "Home";
}

<section id="features_teasers_wrapper">
    <h2 class="section_header">A few things I have learned working at Microsoft</h2>
    <div class="row">
        <div class="span4 feature_teaser">
            <h3>Surround yourself with the best</h3>
            <p>"If you’re the smartest person in the room, you’re in the wrong room."</p>
        </div>
        <div class="span4 feature_teaser">
            <h3>Keep it simple</h3>
            <p>"Less isn't more; just enough is more." --Milton Glaser</p>
        </div>
        <div class="span4 feature_teaser">
            <h3>Love what you do</h3>
            <p>"The only way to do great work is to love the work you do." --Steve Jobs</p>
        </div>
    </div>
    <div class="row">
        <div class="span4 feature_teaser">
            <h3>Don't treat the symptoms</h3>
            <p>Focus on the problem.</p>
        </div>
        <div class="span4 feature_teaser">
            <h3>Don't be afraid to look stupid</h3>
            <p>Ask questions and admit when you're wrong. You'll get further, faster.</p>
        </div>
        <div class="span4 feature_teaser">
            <h3>Throw away bad ideas</h3>
            <p>"It is not the strongest of the species that survive, nor the most intelligent, but the one most responsive to change." --Charles Darwin</p>
        </div>
    </div>
</section>
<section id="portfolio_teasers_wrapper">
    <h2 class="section_header">My favorite posts</h2>
    <div class="portfolio_strict row">
        <div class="portfolio_item span3">
            <div class="portfolio_photo" style="background-image: url(images/portfolio/a1.jpg)">
                <a href="portfolio_item.html"><i class="icon-2x icon-external-link"></i>
                    <p>Why should I use ems for paddings and margins?</p>
                </a>
            </div>
            <div class="portfolio_description">
                <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                <p>geek</p>
            </div>
        </div>
        <div class="portfolio_item span3">
            <div class="portfolio_photo" style="background-image: url(images/portfolio/t5.jpg)">
                <a href="portfolio_item.html"><i class="icon-2x icon-external-link"></i>
                    <p>CSS specificity... the crazy truth</p>
                </a>
            </div>
            <div class="portfolio_description">
                <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                <p>travel</p>
            </div>
        </div>
        <div class="portfolio_item span3">
            <div class="portfolio_photo" style="background-image: url(images/portfolio/p3.jpg)">
                <a href="portfolio_item.html"><i class="icon-2x icon-external-link"></i>
                    <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                </a>
            </div>
            <div class="portfolio_description">
                <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                <p>geek</p>
            </div>
        </div>
        <div class="portfolio_item span3">
            <div class="portfolio_photo" style="background-image: url(images/portfolio/t4.jpg)">
                <a href="portfolio_item.html"><i class="icon-2x icon-external-link"></i>
                    <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum...</p>
                </a>
            </div>
            <div class="portfolio_description">
                <h3><a href="portfolio_item.html">Lorem Ipsum</a></h3>
                <p>geek</p>
            </div>
        </div>
    </div>
</section>
